<body>
    <h1>Lista de productos</h1>
    <ul id="product-list">
        {{#each products}}
        <li>{{this.title}}. Price: {{this.price}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('productList', (products) => {
            // actualizar la lista de productos en la vista
        });

        // manejar evento de creación de un nuevo producto
        // enviar un objeto con la propiedad "product" que contenga el id del producto creado
        socket.on('newProduct', (product) => {
            console.log('new product created:', product);
        });

        // manejar evento de eliminación de un producto
        // enviar el id del producto eliminado
        socket.on('deleteProduct', (productId) => {
            console.log('product deleted:', productId);
        });
        socket.on("updateProducts", products => {
            const html = products.map(product => `<li>${product.title} - ${product.price} USD</li>`).join("");
            document.getElementById("product-list").innerHTML = html;
        });
    </script>


    <script src="/js/index.js"></script>
</body>