<body>
    <h1>Lista de productos</h1>
    <ul id="product-list">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <div class="card-body p-3 ">
                <h5 class="card-title">{{this.title}}</h5>
                <h6 class="card-subtitle mb-2 ">{{this.price}}</h6>
                <p class="card-text">{{this.description}}</p>
                <button type="button" class="btn btn-primary">Eliminar producto</button>
            </div>
        </div>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('productList', (products) => {
            // actualizar la lista de productos en la vista
        });

        // manejar evento de creación de un nuevo producto
        // enviar un objeto con la propiedad "product" que contenga el id del producto creado
        socket.on('newProduct', (product) => {
            console.log('new product created:', product);
        });

        // manejar evento de eliminación de un producto
        // enviar el id del producto eliminado
        socket.on('deleteProduct', (productId) => {
            console.log('product deleted:', productId);
        });
        socket.on("updateProducts", products => {
            const html = products.map(product => `<li>${product.title} - ${product.price} USD</li>`).join("");
            document.getElementById("product-list").innerHTML = html;
        });
    </script>


    <script src="/js/index.js"></script>
</body>